<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h1>
        <a href='{{site.baseurl}}/index.html'>
          <img alt="" src="{{site.baseurl}}/{{site.logos.dark}}" />
        </a>
      </h1>
      <p>©2016 JiveUI. All rights reserved.</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Pages</h4>
        <ul>
          <li><a href="index.html">Home</a></li>
          {% if site.index_structure.works %}
            <li><a href="portfolio.html">View some works here</a></li>
          {% endif %}
          <li><a href="blog">Follow our blog</a></li>
          {% if site.index_structure.services %}
            <li><a href="services.html">Our services</a></li>
          {% endif %}
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      {% include recent-posts.html limit=4 %}
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact us</h4>
      <ul class='socials'>
        <li>
          <a href='mailto:grebenshikov.n@gmail.com'>
            <i class='fa fa-envelope'></i>
          </a>
        </li>
        <li>
          <a href='https://twitter.com/grebenshikov_n'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>