<div class='links'>

	<h3>Archives</h3>
	<ul>
		{% for post in site.posts %}
			{% assign currentdate = post.date | date: "%B %Y" %}
			{% assign path = post.date | date: "%Y/%m" %}
			{% if currentdate != date %}
				<li id="{{currentdate}}"><a href="{{site.baseurl}}/{{site.monthly_archive.path}}/{{path}}">{{ currentdate }}</a></li>
				{% assign date = currentdate %} 
			{% endif %}
		{% endfor %}
	</ul>

</div>

<div class='links'>
	<h3>Categories</h3>
	<ul>
		{% assign tags_list = site.categories %}  
		  {% if tags_list.first[0] == null %}
		    {% for tag in tags_list %} 
		      <li><a href="{{site.baseurl}}/{{site.category.path}}/{{tag[0]}}">{{ tag | capitalize }} <span>{{ site.tags[tag].size }}</span></a></li>
		    {% endfor %}
		  {% else %}
		    {% for tag in tags_list %} 
		      <li><a href="{{site.baseurl}}/{{site.category.path}}/{{tag[0]}}">{{ tag[0] | capitalize }} <span>{{ tag[1].size }}</span></a></li>
		    {% endfor %}
		  {% endif %}
		{% assign tags_list = nil %}
	</ul>
</div>

{% include recent-posts.html limit=10 %}